/* Global Properties */
* {
	margin: 0; /* Set margin to zero */
	padding: 0; /* Set padding to zero */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	box-sizing: border-box; /* Use border-box for box sizing */
}

/* Container Styles */
.container {
	width: 100%;
	height: 100vh;
	background: #333; /* Dark background color */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

/* Music Player Styles */
.music-player {
	background: #81cfb7; /* Light green background color */
	width: 400px;
	padding: 25px 35px;
	text-align: center;
	border-radius: 10px;
}

/* Navigation Styles */
nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

nav .circle {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: white; /* White circular background color */
	color: #038f44; /* Green icon color */
	box-shadow: 0 5px 10px rgba(3, 33, 44, 0.22); /* Box shadow for depth */
}

.fas {
	padding: 12px;
}

/* Song Image Styles */
.song-img {
	width: 290px;
	border-radius: 11%; /* Slightly rounded corners */
	border: 3px solid rgb(255, 255, 255); /* White border */
	box-shadow: 0 10px 60px rgba(3, 33, 44, 0.22); /* Box shadow for depth */
}

/* Heading Styles */
.music-player h1 {
	font-size: 20px;
	font-weight: 600;
	margin-top: 25px;
}

/* Paragraph Styles */
.music-player p {
	font-size: 14px;
	font-weight: 400;
}

/* Time Display Styles */
.time-display {
	font-size: 12px;
	margin-top: 10px;
	color: #015428c0; /* Semi-transparent green color */
}

#currentTime,
#duration {
	font-weight: bold;
}

/* Progress Bar Styles */
#progress {
	-webkit-appearance: none;
	width: 100%;
	height: 6px;
	background: #015428c0; /* Semi-transparent green background color */
	border-radius: 4px;
	cursor: pointer;
	margin: 40px 0;
}

#progress::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #152d20c0; /* Semi-transparent dark green color */
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 3.5px solid white;
	box-shadow: 0 5px 5px rgba(3, 33, 44, 0.22);
}

/* Music Controls Styles */
.controls {
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls div {
	width: 60px;
	height: 60px;
	margin: 20px;
	background: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #015428c0; /* Semi-transparent green color */
	box-shadow: 0 10px 20px rgba(3, 33, 44, 0.22); /* Box shadow for depth */
}

.controls div:nth-child(2) {
	transform: scale(1.5); /* Increase size for the play button */
	background: #152d20c0; /* Semi-transparent dark green background color */
	color: white; /* White color for play button */
	border-radius: 20%;
	cursor: pointer;
}
